body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header > h1 {
    padding: 20px 0;
    flex: 1;
    text-align: center;
    transform: translatex(1.25rem);
}

header > img {
    padding: 10px 10px;
}

.container {
    margin: 0 10%;
    max-width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    order: 2;
    max-height: 50vh;
}
img {
    border: 1px solid #000;
    border-radius: 5px;
}

button {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
}

button:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    order: 1;
}

.form-div > *{
    margin: 0 10px
}

input[type=text] {
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
}

@media screen and (max-device-width:640px),
    screen and (max-width:640px) {
        .img-container {
            flex-direction: column;
        }

        .form-div {
            flex-direction: column;
            gap: 10px;
        }
    }